*{ 
padding: 0; 
margin: 0;
}

body { 
font-family: sans-serif; 
 }
header { 
	width: 100%; 
	height: auto; 
	margin: auto;
	background:#F9F9F9;
}
header div{
	text-align: center;
}
header img{
height:50px;
width:auto;
}
 
 .string{
 height:5px;
 width:100%;
 background:orange;
 background-repeat: no-repeat;
background-size: cover;
background-position: center;
animation: slide 40s infinite;	
text-align:center;
   
		animation: slide 40s infinite;
 }
					@keyframes slide{
			0%{
		background:red;
		}
			20%{
		background:orange;
			}
			20.01%{
		background:yellow;
		}
			40%{
		background:green;
		}
				40.01%{
		background:#00FFFF;
		}
			60%{
		background:blue;
			}
			60.01%{
		background:purple;
		}
			80%{
		background:red;
		}
				80.01%{
		background:orange;
		}
					100%{
		background:yellow;
		}
					}
	.container {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -400px;
}
    
h1 {
    margin: 0;
    color: black;
	font-size: 60px;
    margin: 0 0 10px;
}

#CDT {
    font-size: 60px;
    color: #fff;
    margin: 70px 0 100px;
    font-weight: bold;
}

#CDT .number-wrapper {
    margin: 10px;
    -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000;
    position: relative;
}

#CDT .number {
    display: inline-block;
    background: #000;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 12px;
    height: 80px;
    line-height: 80px;
    text-align: center;
   
}
#CDT .line {
    position: absolute;
}    
.caption {
   font-size: 12px;
   position: absolute;
   bottom: -30px;
   left: 0;
   text-align: center;
   width: 100%;
    color: black;
} 
	
	.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:grey;
    color: white;
    text-align: center;
		}